@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
}

.jumbotron {
  background-color: #f8f9fa;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  margin-top: 1rem;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 150px
}